
.App {
  font-family: "Handlee", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

#about {
  background-color: #fafafa;
}

#contact {
  background-color: #fafafa;
}

#projects {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh; /* Ensure it takes up the full screen height */
}

#projects h2 {
  font-size: 2rem; /* Increase the font size */
  margin-bottom: 20px;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%; /* Increase the width to take up more space */
  max-width: 1200px;
}
.project {
  margin: 20px;
  position: relative;
  width: 200px; 
}

.project-img {
  display: block;
  margin: 0 auto 10px;
  border: 2px solid #000;
  border-radius: 2%;
  transition: transform 0.3s ease-in-out;
  width: 190px;
  height: 150px;
}

.project-img:hover {
  transform: scale(1) rotate(-5deg);
}

.project p {
  margin: 10px 0px 0px 0px;
}

.read-more-toggle, .modal-close {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  display: inline-block;
  /* margin-top: 10px; */
}

.read-more-toggle {
  cursor: pointer;
  color: darkgrey;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem; /* Adjust size as needed */
  transition: color 0.3s ease, transform 0.3s ease;
}

.read-more-toggle:hover {
  color: black;
  transform: translateX(6px); /* Extend the arrow on hover */
}



.github-link {
  margin-top: 20px;
  display: block;
  align-self: flex-start; 
}

.github-link img {
  width: 35px;
  height: 35px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 1200px;
  height: 700px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal.show {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transition: transform 0.3s ease-in-out;
}

.modal-close:before,
.modal-close:after {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 2px;
  height: 30px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

.modal-close:hover:before,
.modal-close:hover:after {
  transform: rotate(90deg);
}


.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-overlay.show {
  display: block;
  opacity: 1;
}

.modal-content {
  display: flex;
  height: 100%;
}

.carousel {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #000;
  border-radius: 5px;
}

.text-area {
  flex: 1;
  padding-left: 20px;
  text-align: left;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}



/* About Section Layout */
#about {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

#about.show {
  opacity: 1;
  transform: translateY(0);
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#about .about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;

}

#about .column-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#about .image-wrapper {
  width: 75%;
  height: 440px;
  background-image: url('./Images/bitmoji/sticker-fit.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat; 
}

#about .image-wrapper:hover {
  background-image: url('./Images/bitmoji/grin-smile-fit.png');
  background-size: 70%; /* Ensure hover image is also smaller */
}

#about .intro-text-wrapper {
  width: 75%;
  text-align: center;
}

#about .intro-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 20px;
}

#about .column-two {
  width: 50%;
  padding-left: 20px;
}

#about .tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  max-width: 408px;
}

#about .tech-stack img{
  width: 45px;
}

#about .tech-stack img:hover {
  transform: scale(1.2);
}

#about h3 {
  margin-top: 40px;
  font-size: 1.8rem;
}

#about .experience h4 {
  margin-top: 15px;
  font-size: 1.4rem;
}

#about .experience p {
  margin: 5px 0;
  font-size: 1.1rem;
}

#contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-container p{
  text-align: center;
  font-size: 1.2rem;
}

.socials-row ul{
  display:flex;
  flex-direction: row;
  width: 100%;
  padding: 0%;
  align-items: center;
  flex-wrap: wrap;
}
.socials-row li{
  display: flex;
  padding: 20px;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.socials-row img{
  width: 40px;
  padding: 2px;
}

.socials-row a{
  text-decoration: none;
}

/* Default styles for all devices */

/* Small devices (phones, 576px and down) */
@media screen and (max-width: 575.98px) {
  .full-screen {
    height: fit-content !important;
  }
  #about .about-content{
    justify-content: center;
    flex-wrap: wrap;
  }
  #about .column-one, #about .column-two {
    width: 100%; /* Return to 50% width for each column on larger screens */
    padding-left:0px;
  }
  #about .image-wrapper {
    width: 100%;
    height: 360px;
    background-image: url('./Images/bitmoji/sticker-fit.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat; 
  }
  #about .intro-text-wrapper {
    width: 90%;
    text-align: center;
  }
  #projects .projects-container h2{
    padding-top:50px;
  }
  #about .experience h4{
    font-size: 1.2rem;
  }
  #about .experience p{
    font-size: 1rem;
  }
  #contact-container{
    padding-bottom: 100px;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}


